
<!-- header -->
<app-header (sideBarToggle)="toggle()"></app-header>   

<!-- sidenav bar -->
<mat-drawer-container class="example-container">
  <!-- property binding event to opened -->
    <mat-drawer mode="side" [opened]="sidebar">
        <!-- sidebar -->
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <!--router outlet Selector -to redirect to different page as per user request -->
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
  
<!-- divider -->
  <mat-divider></mat-divider>

<!-- footer -->
<app-footer></app-footer>



